.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  .rout {
    display: flex;
    justify-content: center;

    .routi {
      width: 55%;
    }
  }
}
