<div class="container">
  <div class="text-float">
    <p>Regístrate, ingresa tus datos</p>
  </div>
  <div class="registro">
    <form class="form" action="">
      <label>REGISTRO</label>
      <input type="text" placeholder="Nombre" />
      <input type="text" placeholder="Apellidos" />
      <input type="email" placeholder="E-mail" />
      <input type="number" placeholder="Edad" maxlength="2" />
      <input type="password" placeholder="Contraseña" />
      <input type="password" placeholder="Repetir Contraseña" />
      <select name="Documento">
        <option>DNI</option>
        <option>Carnet Extranjeria</option>
        <option>Passaporte</option>
      </select>
      <input type="tel" placeholder="Nro de Documento" maxlength="8" />
      <button class="buttom" type="submit">INGRESAR</button>
      <div class="ingresa">
        <p>Si ya tienes una cuenta <a routerLink="/login">ingresa</a></p>
      </div>
    </form>
  </div>
</div>
