@use "../../../../src/assets/styles/variables.scss" as va;

.container {
  background-color: va.$secondary-color;
  text-align: center;
  border-radius: 1rem;
  min-width: 30rem;
  ::placeholder {
    color: white;
  }

  span {
    color: va.$primary-color;
    margin: 3rem auto;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .mat-select-value {
    color: white;
  }
  .boton {
    width: 100%;
  }
}
