<mat-card class="container">
  <form class="example-form form">
    <span>REGISTRO</span>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="demo" />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Apellidos</mat-label>
      <input matInput placeholder="demo" />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>E-Mail</mat-label>
      <input type="email" matInput />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input type="password" matInput placeholder="****" />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Repetir Contraseña</mat-label>
      <input type="password" matInput placeholder="****" />
    </mat-form-field>

    <mat-form-field class="select" appearance="outline">
      <mat-label>Documento</mat-label>
      <mat-select value="selected">
        <mat-option value="option1">DNI</mat-option>
        <mat-option value="option2">Carnet Extranjeria</mat-option>
        <mat-option value="option3">Pasaporte</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Nro de Documento</mat-label>
      <input type="number" matInput placeholder="0000000" maxlength="8" />
    </mat-form-field>
    <div class="example-button-row">
      <button class="boton" mat-raised-button color="primary">REGISTRAR</button>
    </div>
  </form>
</mat-card>
