@use "../../../../assets/styles/variables.scss" as va;

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10vh;
  background-color: va.$secondary-color;

  .containerHeader {
    display: flex;
    align-items: center;
    color: va.$white;
    gap: 2rem;
    width: 70%;
    padding: 1rem;

    &__logo {
      width: 5rem;
      height: 5rem;
    }
  }
}
