<main class="main">
  <div class="container">
    <p>Ingresa a MusicalEvents para comprar</p>
    <div class="formulario">
      <h2 class="tittle">INICIO DE SESION</h2>
      <form class="forms" action="">
        <fieldset class="inputs">
          <legend>E-mail</legend>
          <input type="email" placeholder="E-mail" />
        </fieldset>
        <fieldset>
          <legend class="inputs">Password</legend>
          <input type="password" placeholder="******" />
        </fieldset>
        <a href="#">¿Olvidaste contraseña?</a>
        <button class="buttom" type="submit">INGRESAR</button>
        <p>Si no tienes una cuenta <a routerLink="/register">registrate</a></p>
      </form>
    </div>
  </div>
  <div></div>
</main>
