<main class="main">
  <div class="container">
    <p>Ingresa a MusicalEvents para comprar</p>
    <div class="formulario">
      <h2 class="tittle">INICIO DE SESION</h2>
      <form class="forms" action="">
        <mat-form-field class="form__input" appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="demo" />
        </mat-form-field>
        <mat-form-field class="form__input" appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="demo" />
        </mat-form-field>
        <span class="ruta" routerLink="/recovery-pass"
          >¿Olvidaste contraseña?</span
        >
        <button class="form__boton" mat-raised-button color="primary">
          INGRESAR
        </button>
        <span class="span">
          Si no tienes una cuenta
          <span class="ruta" routerLink="/register">registrate</span>
        </span>
      </form>
    </div>
  </div>
  <div></div>
</main>
